BaseClient/bin/
BaseManage/bin/
Common/bin/
DAO/bin/
FinancialRegulation/bin/
FinancialRegulationSRV/bin/
FundsRegulatoryClient/bin/
MahApps.Metro/bin/
MainFrame/bin/
Message/bin/
MODEL/bin/
ReportManage/bin/
SqlMaps/bin/
Start/bin/
TestProject/bin/
bin/
obj/
*.baml