<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FundsRegulatoryClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FundsRegulatoryClient.Properties.Settings>
            <setting name="HSIS_Client_ParmItemSrv_ParmItemSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/ParmItemSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_BaseManagerSrv_BaseManagerSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/BaseManagerSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_CommonManagerSrv_CommonManagerSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/CommonManagerSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_UserManageSrv_UserManageSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/UserManageSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_UserDutyManagerSrv_UserDutyManagerSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/UserDutyManagerSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_DutyManageSrv_DutyManageSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/DutyManageSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_FunSrv_FunSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/FunSrv.asmx</value>
            </setting>
            <setting name="Client_JG_AccountManageSrv_JG_AccountManageService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_AccountManageService.asmx</value>
            </setting>
            <setting name="Client_JG_AmountCollectSrv_JG_AmountCollectService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_AmountCollectService.asmx</value>
            </setting>
            <setting name="Client_JG_MessageInfoSrv_JG_MessageInfoService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_MessageInfoService.asmx</value>
            </setting>
            <setting name="Client_JG_BranchesSrv_JG_BranchesService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_BranchesService.asmx</value>
            </setting>
            <setting name="Client_JG_SpvProtocolSrv_JG_SpvProtocolService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_SpvProtocolService.asmx</value>
            </setting>
            <setting name="Client_JG_DepositSrv_JG_DepositService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_DepositService.asmx</value>
            </setting>
            <setting name="Client_BillSrv_BillSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/BillSrv.asmx</value>
            </setting>
            <setting name="Client_HelpSrv_HelpService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/HelpService.asmx</value>
            </setting>
            <setting name="FundsRegulatoryClient_RegulatorySrv_RegulatorySrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/RegulatorySrv.asmx</value>
            </setting>
            <setting name="FundsRegulatoryClient_SysConfigSrv_SysConfigService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/SysConfigService.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_JG_InterestRateSrv_JG_InterestRateSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_InterestRateSrv.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_BasicFunctionSrv_BasicFunctionSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSrv/BasicFunctionSrv.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_BillOperateSrv_BillOperateSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/BillOperateSrv.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_JG_AdjustSrv_JG_AdjustService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_AdjustService.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_InterestService_InterestService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/InterestService.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_RefunTradeSrv_RefunTradeService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/RefunTradeService.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_SqlTransSvr_SqlTrans" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/SqlTrans.asmx</value>
            </setting>
            <setting name="FinancialRegulationClient_JG_PaymentSrv_JG_PaymentService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_PaymentService.asmx</value>
            </setting>
        </FundsRegulatoryClient.Properties.Settings>
        <Client.Properties.Settings>
            <setting name="HSIS_Client_ParmItemSrv_ParmItemSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/ParmItemSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_BaseManagerSrv_BaseManagerSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/BaseManagerSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_CommonManagerSrv_CommonManagerSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/CommonManagerSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_UserManageSrv_UserManageSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/UserManageSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_UserDutyManagerSrv_UserDutyManagerSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/UserDutyManagerSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_DutyManageSrv_DutyManageSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/DutyManageSrv.asmx</value>
            </setting>
            <setting name="HSIS_Client_FunSrv_FunSrv" serializeAs="String">
                <value>http://localhost/HSIS.SRV/FunSrv.asmx</value>
            </setting>
            <setting name="Client_JG_AccountManageSrv_JG_AccountManageService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_AccountManageService.asmx</value>
            </setting>
            <setting name="Client_JG_AmountCollectSrv_JG_AmountCollectService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_AmountCollectService.asmx</value>
            </setting>
            <setting name="Client_JG_MessageInfoSrv_JG_MessageInfoService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_MessageInfoService.asmx</value>
            </setting>
            <setting name="Client_JG_BranchesSrv_JG_BranchesService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_BranchesService.asmx</value>
            </setting>
            <setting name="Client_JG_SpvProtocolSrv_JG_SpvProtocolService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/JG_SpvProtocolService.asmx</value>
            </setting>
            <setting name="Client_JG_PaymentSrv_JG_PaymentService" serializeAs="String">
                <value>http://localhost:4816/JG_PaymentService.asmx</value>
            </setting>
            <setting name="Client_JG_DepositSrv_JG_DepositService" serializeAs="String">
                <value>http://localhost:4816/JG_DepositService.asmx</value>
            </setting>
            <setting name="Client_BillSrv_BillSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/BillSrv.asmx</value>
            </setting>
            <setting name="Client_HelpSrv_HelpService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/HelpService.asmx</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
