<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BaseClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BaseClient.Properties.Settings>
            <setting name="BaseClient_BaseManageSrv_BaseManageSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/BaseManageSrv.asmx</value>
            </setting>
            <setting name="BaseClient_LoginSrv_LoginSrv" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/LoginSrv.asmx</value>
            </setting>
            <setting name="BaseClient_SysConfigSrv_SysConfigService" serializeAs="String">
                <value>http://localhost/FinancialRegulationSRV/SysConfigService.asmx</value>
            </setting>
        </BaseClient.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
