<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FinancialRegulationSRV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--filePath 前置机存储生成对账单文件夹 hisFilePath 历史对账文件夹 reportPath 对账单报表模板所在文件-->
    <add key="filePath" value="\\192.168.134.245\ftptest\" />
    <add key="hisFilePath" value="\\192.168.134.245\ftptestHistory\" />
    <add key="reportPath" value="ReportTemplet\\对账单.xlt" />
  </appSettings>
  <connectionStrings>
    <add name="DADB" connectionString="Data Source=localhost;Initial Catalog=FinancialRegulation;Persist Security Info=True;User ID=sa;Password=123" />
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" />
    <trace pageOutput="true" />
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET `
      使用该模式来识别来访用户身份。 
      
    -->
    <!--<identity impersonate="true" userName="Administrator" password="L"/>-->
    <!--userName="Administrator" password="L"-->
    <!--<authentication mode="Windows"/>-->
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <applicationSettings>
    <FinancialRegulationSRV.Properties.Settings>
      <setting name="FinancialRegulationSRV_BillMoveSrv_BillMoveSrv" serializeAs="String">
        <value>http://localhost/BillOperateSrv/BillMoveSrv.asmx</value>
      </setting>
    </FinancialRegulationSRV.Properties.Settings>
  </applicationSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>