<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="IBatisNet.Common" publicKeyToken="ED781D9FC396C6CA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
